$color-primary: #368ccc;
$color-primary2: #45aaf2;
$color-primary3 :#0075ba;

$color-graydark:#1f1f1f;
$color-graydark2:#191919;
$color-graydark3: #252525;
$color-graydark4: #505050;
$color-graylight:#666666;
$color-graylight2:#858585;

$color-white: #ffffff;
$color-offwhite: #f9f9f9;

$color-pink: #eb3b5a;

$color-orange: #fa8231;

$color-yellow: #f7b731;

$color-green: #98c739;
$color-green2:#20bf6b;