.body {
  text-align: center;
}

.title {
  color: blue;
  font-weight: bold;
}

.main-heading {
  color: white;
  font-size: 50px;
}

.heading {
  color: black;
  font-size: 35px;
}

.icon {
  font-size: 75px;
  margin-bottom: 25px;
}

.card-content {
  color: grey;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.5px;
}

.circled-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: percentage($number: 100);
  font-size: 20px;
}


.header {
  max-width: calc(100%);
  margin: 0 auto;
  height: 125px;

  .logo {
    height: 150px;
    background-color: white;
    border-radius: 10px;
  }

  .nav-box-list {
    flex-wrap: wrap;
  }

  .nav-box-list-item {
    list-style-type: none;
    margin-right: 42px;
    position: relative;
  }

  .nav-box-list-item.active span {
    background-color: blue;
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 5px;
    top: 16px;
    z-index: 1;
  }

  .nav-box-list-item.active:after {
    content: '';
    position: absolute;
    background-image: url('../images/Pen.png');
    height: 29px;
    width: 19px;
    left: 50%;
    top: 48px;
    transform: translateX(-50%);
  }

  .nav-box-list-item a {
    position: relative;
    text-decoration: none;
    color: black;
    z-index: 2;
  }

  .nav-box-list-item:last-child {
    margin-right: unset;
  }


  @media screen and (max-width:450px) {
    .nav-box-list-item.active:after {
      left: 125%;
      top: unset;
      transform: rotate(-90deg);
    }
  }

  @media screen and (min-width:760px) and (max-width:770px) {
    .nav-box-list-item.active:after {
      display: none;
    }
  }
}

.img-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(0deg, rgba(0, 8, 46, 0.5), rgba(0, 10, 54, 0.5)),
    url("../images/readBook.png");
}

.img-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 600px;
  width: 100%;
  color: white;
}

.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

  .content {
    color: grey;
    font-size: 15px;
    text-align: center;
    margin-bottom: 50px;
  }

  .card-container {
    display: flex;

    .card-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 40px 20px 40px 20px;
      width: 100%;

      &:hover {
        border: 3px;
        box-shadow: 3px 3px 60px 6px rgb(179, 179, 208);
        border-radius: 5px;
      }
    }
  }

  @media screen and (max-width:450px) {
    .card-container {
      flex-direction: column;
    }
  }
}

.img-box {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  .img-body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: -1;
    background-image: linear-gradient(0deg, rgba(7, 14, 51, 0.5), rgba(10, 20, 65, 0.5)),
      url("https://images.pexels.com/photos/34153/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350");
  }

  .img-body {
    position: relative;
    height: 350px;
    width: 95%;
    color: #1a1669;

    .card-container {
      display: flex;
      justify-content: center;
      position: relative;
      border-radius: 5px;

      .card-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px;
        background-color: white;
        border-radius: 8px;
        margin-right: 15px;
        margin-left: 15px;
        width: 450px;

        .icon {
          font-size: 75px;
          margin-bottom: 25px;
        }

        .card-content {
          color: grey;
          font-size: 15px;
          text-align: center;
        }

        &:hover {
          border: 3px;
          box-shadow: 3px 3px 60px 6px rgb(179, 179, 208);
        }
      }
    }

    @media screen and (max-width:450px) {
      .card-container {
        flex-direction: column;
        margin-left: auto;

        // width: fit-content;

        .card-block {
          // margin-bottom: 25px;
          margin: 0px;
        }
      }
    }

  }
}


.about-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 150px;

  .list-items {
    text-align: start;
    width: 400px;
  }

  .functional-item {
    display: flex;
    flex-flow: column-reverse wrap-reverse;
    align-content: space-between;
    justify-content: center;
    height: 550px;
    padding: 20px;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      width: 150px;
      margin: 10px;
    }
  }
}

@media screen and (max-width:450px) {
  .about-us {
    flex-direction: column;
    margin-top: 625px;

    .functional-item {
      padding: unset;
      margin-left: auto;

    }
  }
}

.img-ss::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(0deg, rgba(7, 14, 51, 0.5), rgba(10, 20, 65, 0.5)),
    url("https://media.prod.mdn.mozit.cloud/attachments/2013/11/15/6457/5e0f6aa96fb8e4593f143aa803576698/mdn_logo_only_color.png");
}

.img-ss {
  position: relative;
  height: 530px;
  width: 100%;
  margin-top: 100px;
}

.process {
  display: flex;
  flex-direction: column;
  align-items: center;

  .process-steps {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .step-after:first-child::before {
      content: '';
    }

    .step-after::before {
      content: url('../images/angle-double-right-solid.svg');
      width: 25px;
      margin-top: 50px;
    }

    .step-after {
      display: flex;

      .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 225px;
      }
    }
  }

  @media screen and (max-width:775px) {
    .process-steps {
      flex-direction: column;

      .step-after:first-child::before {
        content: '';
      }

      .step-after::before {
        transform: rotate(90deg);
        transform-origin: 50% 50%;
      }

      .step-after {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .step {}
      }
    }
  }
}

.footer {
  background-color: rgb(66, 63, 63);
  width: 100%;
  margin-top: 150px;
  position: absolute;

  .start {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    width: auto;
    background-color: rgb(53, 122, 226);
    position: relative;
    margin-top: -75px;
    border-radius: 10px;

  }

  // .content {
  //   display: flex;
  //   justify-content: space-around;
  //   text-align: center;
  // }

  @media screen and (max-width:450px) {
    .start {
      flex-direction: column;
      justify-content: center;
      height: 377px;
      width: 90%;

      .content {
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
      }
    }

    .footer_data {
      margin-left: 1rem;
    }
  }

  .copyright {
    background-color: #3f3f3f;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    box-shadow: 0px -15px 15px 0px rgb(72, 72, 72);
  }
}